.content_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 70vw;
    height: auto;
    flex-shrink: 0;
    margin-left:20px;
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
}
.mainbody{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 70vw;
    height: auto;
    flex-shrink: 0;
    margin-left:20px;
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
}
.content_body{
    width:70vw;
    height: auto;
    display:flex;
}
.content_body2{
    display: block;
    width: 35vw;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.content_body3{
    width: 23vw;
    height: auto;
    display: grid;
}
.InputField{
    width:25vw;
    height:60px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
}
.InputTextarea{
    width: 30vw;
}
.InputFont{
    font-size:14px;
    padding-left:10px;
    padding-top: 15px;
    padding-bottom:10px;
    color:#A1A2A8;
}
.Font {
    margin-top: 5px;
    color: dark;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 550;
    line-height: 24px;
}

.errorText {
    color: red;
    font-size: 0.8em;
    margin-left: 10px;
}
.checking {
    color: blue;
    font-size: 0.8em;
    margin-left: 10px;
}
.availableText {
    color: green;
    font-size: 0.8em;
    margin-left: 10px;
}

/* 부속서류 전용 컨테이너 */
.attachmentContainer {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    padding: 20px;
    width: 70vw;
    flex-shrink: 0;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
}

.attachmentGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 70vw;
    margin-left: 20px;
}

.prizeRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 70vw;
    margin-left: 20px;
}

/* MGM 인풋박스 부분 */
.mgmContainer {
    width: 70vw;
    max-width: 100%;
    display: flex; 
    flex-direction: row; 
    gap: 20px;
    align-items: center;
}

/* 담당자 인풋박스 한 줄로 정렬 */
.responsibleContainer {
    width: 70vw;
    max-width: 100%;
    display: flex; 
    flex-direction: row; 
    gap: 20px;
    align-items: center;
}

.existingFile {
    margin-top: 10px;
    font-size: 14px;
    color: #7152F3;
}
