.areacontainer{
    border-radius: 10px;
    border: 1px solid rgba(162, 161, 168, 0.20);
    display: flex;
    height: 200px;   
    width: 180%;
    padding: 10px 20px 10px 16px;
    float: left;
}
.SearchFont{
    margin-top:13px;
    margin-left:16px;
    color: dark;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.errorInput {
    border: 1px solid red !important;
}
.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}
.spancontainer {
    border-radius: 10px;
    border: 1px solid rgba(162, 161, 168, 0.20);
    display: flex;
    height: 50px;  
    width: 1fr;
    padding: 10px 20px 10px 16px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    box-sizing: border-box;
}
.searchclient{
    display: flex;
    width: 310px;
    height:50px;  
    box-sizing: border-box;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
    gap: 10px;
}
.inputcontainer_L{
    display: flex;
    width:800px;
    height:50px;  
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
    padding: 10px 20px 10px 16px;
    float: left;
    box-sizing: border-box;
}
.inputcontainer_M{
    display: flex;
    width: 350px;
    height:50px;  
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
    padding: 10px 20px 10px 16px;
    float: left;
    margin-right:10px;
    box-sizing: border-box;
}

.inputcontainer {
    display: flex;
    width: 25vw;
    height:50px;  
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
    padding: 10px 20px 10px 16px;
    float: left;
    margin-right:10px;
    box-sizing: border-box;
}
.Dropinputcontainer {
    border-radius: 10px;
    border: 1px solid rgba(162, 161, 168, 0.20);
    display: flex;
    height: 50px;  
    width: 10vw;
    padding: 10px 20px 10px 16px;
    margin-right: 10px;
    float: left;
    box-sizing: border-box;
}
.postcontainer {
    border-radius: 10px;
    border: 1px solid rgba(162, 161, 168, 0.20);
    display: flex;
    height: 50px;   
    width: 20vw;
    padding: 10px 20px 10px 16px;
    margin-right: 10px;
    float: left;
    box-sizing: border-box;
}

.logininputcontainer {
    border-radius: 10px;
    border: 1px solid #7152F3;
    display: flex;
    height: 50px;   
    width: 110%;
    margin-top: 3%;
    padding: 10px 20px 10px 16px;
    float: left;
    box-sizing: border-box;
}

.Longinputcontainer {
    border-radius: 10px;
    border: 1px solid rgba(162, 161, 168, 0.20);
    display: flex;
    height: 50px;   
    width: 100%;
    padding: 10px 20px 10px 16px;
    margin-right: 100px;
    float: left;
    grid-column: span 2;
    box-sizing: border-box;
}

.inputcontainerSmall {
    border-radius: 10px;
    border: 1px solid rgba(162, 161, 168, 0.20);
    display: flex;
    height: 50px;   
    width: 20%;
    padding: 10px 10px 10px 16px;
    margin-right: 100px;
    float: left;
    grid-column: span 2;
    box-sizing: border-box;
}


.Fileinputcontainer{
    grid-row: span 2;
    width: 100%;
    height: 133px;
    border: 1px dashed  #7152F3;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.fileInput {
  display: none;
}
.filetext{
    text-align: center;
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    color: #000;
}

.texthighlight{
    color: #7152F3;
}

.successtext{
    color: #7152F3;
    font-weight: bold;
    text-align: center;
    padding-right: 10px;
}

.filetypetext{
    font-family: Lexend;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    color: #A2A1A8;
    text-align: center;

}

/* 체크박스 스타일 */
.customCheckbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a2dea8;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: background-color 0.3s, transform 0.2s;
    width: 80%;
    box-sizing: border-box;
    height: 40px;
    padding: 0;
}
.customCheckbox:hover {
    background-color: #ddf7dd;
}
.customCheckbox:active {
    transform: scale(0.95);
}
.customCheckbox input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height:0;
    width:0;
}
.customCheckbox input[type=checkbox]:checked + .checkboxText {
    background-color: #a2dea8;
    color: #fff;
}
.checkboxText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 100%;  
    box-sizing: border-box;
    background-color: transparent;
    color: #000;
    margin:0;
    padding:0;
}

.postContainer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: auto;
    gap: 10px;
}

.postContainer2 {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: auto;
    gap: 10px;
}

/* MGM 전용 인풋박스 스타일 */
.mgmInputContainer {
    border-radius: 10px;
    border: 1px solid rgba(162, 161, 168, 0.20);
    display: flex;
    height: 50px;
    padding: 10px 20px 10px 16px;
    box-sizing: border-box;
    flex: 1;
    min-width: 0;
    margin: 0;
}

.mgmInputContainer2 {
    border-radius: 10px;
    border: 1px solid rgba(162, 161, 168, 0.20);
    display: flex;
    width: 200px;
    height: 43px;
    padding: 10px 20px 10px 16px;
    box-sizing: border-box;
    flex: 1;
    min-width: 0;
    margin: 0;
}

.grayInputWrapper {
    background-color: #f9f9f9; /* 회색 배경 */
    border-radius: 4px; /* 모서리 둥글게 */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px; /* 내부 여백 */
    width: 100%; /* 부모 요소 너비 채우기 */
    height: 100%; /* 부모 요소 높이 채우기 */
  }
  
  .grayInput {
    width: 100%; /* 입력창이 부모 너비를 채우도록 */
    height: 100%; /* 입력창이 부모 높이를 채우도록 */
    background-color: transparent; /* 입력창 배경 투명 */
    border: none; /* 테두리 제거 */
    color: #333; /* 입력 텍스트 색상 */
    font-size: 14px; /* 텍스트 크기 */
    outline: none; /* 포커스 시 외곽선 제거 */
    padding: 0; /* 내부 여백 제거 */
  }
  
  
  .grayInput::placeholder {
    color: #aaa; /* 플레이스홀더 색상 */
  }
  
  .errorInputWrapper {
    border: 1px solid red; /* 에러 발생 시 외곽선 강조 */
  }
  
  .errorInput {
    color: red; /* 에러 발생 시 텍스트 색상 변경 */
  }
  