/* 기존 스타일 수정 및 드롭다운 메뉴 스타일 추가 */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 10vw;
}

.tablecontainer {
  margin: 30px;
  display: flex;
  width: 900px;
}

.tablecontainer span {
  cursor: pointer;
  font-size: 14px;
  color: #a2a1a8;
}
.tablecontainer span:hover {
  cursor: pointer;
  font-size: 14px;
  color: #000000;
}
.flexContainer {
  width: 1100px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.rowContainer {
  width: 900px;
  display: flex;
}

.unitContainer {
  width: 125px;
  font-size: 14px;
  color: #000;
  height: 20px;
  margin-right: 20px;
  margin-top: 7px;
  position: relative; /* 드롭다운 메뉴의 위치를 상대적으로 지정하기 위해 추가 */
}

.maincontainer {
  margin: 30px;
  display: flex;
  gap: 20px;
  width: 900px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.linkbutton {
  width: 10px;
}

.CBBottonFont {
  color: #fff;
  font-family: Lexend;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px; /* 150% */
}

/* 드롭다운 메뉴 스타일 추가 */
.dropdown {
  position: absolute;
  top: 100%; /* 부모 요소 바로 아래에 위치하도록 설정 */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  width: 150px; /* 필요에 따라 너비 조정 가능 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
  padding: 10px; /* 내부 여백 추가 */
}

.dropdown div {
  padding: 5px 0;
}

.dropdown label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.dropdown input[type="checkbox"] {
  margin-right: 5px;
}

/* 드롭다운 메뉴 항목 호버 시 배경색 변경 */
.dropdown label:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
/* 정렬 아이콘 스타일 */
.sortIcon {
  margin-left: 5px;
  cursor: pointer;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  color: #802b2b; /* 아이콘 색상 설정 */
}
