/* Userinfo.module.scss */

/* 컨테이너 및 레이아웃 관련 스타일 */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    row-gap: 20px;
  }
  
  .content_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 70vw;
    height: auto; /* 높이를 auto로 설정 */
    flex-shrink: 0;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid var(--gray-gray-20, rgba(162, 161, 168, 0.20));
  }
  
  .rowcontainer {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap; /* 자식 요소들이 다음 줄로 넘어가도록 설정 */
    gap: 15px; /* 자식 요소 간의 간격을 설정 */
  }
  
  /* 기본 단위박스 스타일 */
  .unitbody {
    min-width: 200px; 
    flex: 1 1 200px; 
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  /* 주소 관련 박스 스타일 */
  .postunitbody {
    min-width: 400px;
    flex: 1 1 400px;
  }
  
  .titlebody {
    font-size: 14px;
    color: #A2A1A8;
    margin-bottom: 5px;
  }
  
  .contentbody, .postcontentbody {
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 4px;
    min-height: 20px;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .posttitlebody {
    font-size: 14px;
    color: #A2A1A8;
    margin-bottom: 5px;
  }
  
  /* 테이블 관련 스타일 */
  .phase_table, .loan_table, .attachments_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
  }
  
  .phase_table th, .phase_table td,
  .loan_table th, .loan_table td,
  .attachments_table th, .attachments_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    word-wrap: break-word;
  }
  
  .phase_table th, .loan_table th, .attachments_table th {
    background-color: #f2f2f2;
  }
  
  .narrowColumn {
    width: 50px; 
    text-align: center; 
  }
  
  /* 합계 관련 스타일 */
  .phase_sum, .exemption_sum, .paid_sum {
    margin-top: 10px;
    font-weight: bold;
    text-align: right; 
    font-size: 16px;
    color: #333;
  }
  
  /* 버튼 스타일 */
  .editButton {
    background-color: #aa88e0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .editButton:hover {
    background-color: #c5b0e6;
  }
  
  .editIcon {
    margin-right: 8px;
  }
  
  .linkbutton {
    width: 10vw;
  }
  
  /* 부속서류 상태 그리드 */
  .attachmentsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #f9f9f9; 
    padding: 10px;
    border-radius: 4px;
  }
  
  .attachmentsGrid > div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .attachmentsGrid > div span:first-child {
    margin-bottom: 5px;
    font-weight: bold;
  }
  